CompileFlags:
  Compiler: C:/msys64/ucrt64/bin/g++.exe
  Add:
    - --target=x86_64-w64-mingw32
    - -std=c++17
    - -mavx2
    - -mfma

Diagnostics:
  UnusedIncludes: None
  Suppress:
    - undeclared_var_use
    - builtin_definition
